{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript",
   [ "@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-regenerator",
    [
      "module-resolver",
      {
        "alias": {
          "~app": "./src/frontend"
        },
        "extensions": [".tsx"]
      }
    ]
  ]
}
