{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended", 
    "prettier/react"
  ],
  "plugins": [
    "@typescript-eslint", 
    "react-hooks",
    "react",
    "import"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "jsx-a11y/label-has-associated-control": [ 2,
      {
        "assert": "either",
        "depth": 3
      }
    ]
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "no-unused-vars": ["off"],
        "no-undef": ["off"]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "16.8"
    },
    "import/resolver": {
      "babel-module": {},
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  },
  "globals": {
    "window": true,
    "define": true,
    "require": true,
    "module": true
  }
}
