.padding-s2 {
  padding: var(--s2);
}

.padding-s4 {
  padding: var(--s4);
}

.padding-s8 {
  padding: var(--s8);
}

.padding-s12 {
  padding: var(--s12);
}

.padding-s16 {
  padding: var(--s16);
}

.padding-s20 {
  padding: var(--s20);
}

.padding-s24 {
  padding: var(--s24);
}

.padding-s32 {
  padding: var(--s32);
}

.padding-s48 {
  padding: var(--s48);
}

.margin-s2 {
  margin: var(--s2);
}

.margin-s4 {
  margin: var(--s4);
}

.margin-s8 {
  margin: var(--s8);
}

.margin-s12 {
  margin: var(--s12);
}

.margin-s16 {
  margin: var(--s16);
}

.margin-s20 {
  margin: var(--s20);
}

.margin-s24 {
  margin: var(--s24);
}

.margin-s32 {
  margin: var(--s32);
}

.margin-s48 {
  margin: var(--s48);
}

.marginBottom-s2 {
  margin-bottom: var(--s2);
}

.marginBottom-s4 {
  margin-bottom: var(--s4);
}

.marginBottom-s8 {
  margin-bottom: var(--s8);
}

.marginBottom-s12 {
  margin-bottom: var(--s12);
}

.marginBottom-s16 {
  margin-bottom: var(--s16);
}

.marginBottom-s20 {
  margin-bottom: var(--s20);
}

.marginBottom-s24 {
  margin-bottom: var(--s24);
}

.marginBottom-s32 {
  margin-bottom: var(--s32);
}

.marginBottom-s48 {
  margin-bottom: var(--s48);
}

.marginRight-s2 {
  margin-right: var(--s2);
}

.marginRight-s4 {
  margin-right: var(--s4);
}

.marginRight-s8 {
  margin-right: var(--s8);
}

.marginRight-s12 {
  margin-right: var(--s12);
}

.marginRight-s16 {
  margin-right: var(--s16);
}

.marginRight-s20 {
  margin-right: var(--s20);
}

.marginRight-s24 {
  margin-right: var(--s24);
}

.marginRight-s32 {
  margin-right: var(--s32);
}

.marginRight-s48 {
  margin-right: var(--s48);
}

.marginTop-s2 {
  margin-top: var(--s2);
}

.marginTop-s4 {
  margin-top: var(--s4);
}

.marginTop-s8 {
  margin-top: var(--s8);
}

.marginTop-s12 {
  margin-top: var(--s12);
}

.marginTop-s16 {
  margin-top: var(--s16);
}

.marginTop-s20 {
  margin-top: var(--s20);
}

.marginTop-s24 {
  margin-top: var(--s24);
}

.marginTop-s32 {
  margin-top: var(--s32);
}

.marginTop-s48 {
  margin-top: var(--s48);
}

.marginTop-sn60 {
  margin-top: var(--sn60);
}

.marginLeft-s2 {
  margin-left: var(--s2);
}

.marginLeft-s4 {
  margin-left: var(--s4);
}

.marginLeft-s8 {
  margin-left: var(--s8);
}

.marginLeft-s12 {
  margin-left: var(--s12);
}

.marginLeft-s16 {
  margin-left: var(--s16);
}

.marginLeft-s20 {
  margin-left: var(--s20);
}

.marginLeft-s24 {
  margin-left: var(--s24);
}

.marginLeft-s32 {
  margin-left: var(--s32);
}

.marginLeft-s48 {
  margin-left: var(--s48);
}
