.root {
  transition: transform 330ms ease-in-out;
}

.root:link {
  color: inherit;
  text-decoration: none;
}

.root:visited {
  color: inherit;
  text-decoration: none;
}

.root:hover {
  color: inherit;
  text-decoration: none;
}

.root:active {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 992px) {
  .productHover:hover {
    transform: scale(1.04);
  }
}
