.root {
  display: grid;
}

.gridProducts {
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.result {
  grid-template-columns: auto;
  grid-template-areas:
    "filter"
    "result";
  height: 100%;
}

.main {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "banner"
    "body";
}

@media (min-width: 992px) {
  .result {
    grid-gap: 25px;
    grid-template-columns: minmax(200px, auto) minmax(auto, 1000px) minmax(
        200px,
        auto
      );
    grid-template-areas: "filter result ads";
  }
}
