.root {
  display: grid;
}

.gridProducts {
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.main {
  grid-gap: 25px;
  grid-template-columns: 200px auto 200px;
  grid-template-areas: "filter main ads";
}

@media (max-width: 992px) {
  .main {
    grid-template-columns: auto;
    grid-template-areas: "main";
  }
}
