.root {
  display: grid;
}

.gridProducts {
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.main {
  grid-gap: 25px;
  grid-template-columns: 200px auto;
  grid-template-areas: "filter main";
}
