.background-BACKGROUND {
  background-color: var(--background);
}

.background-BUTTON {
  background-color: var(--shadow-background);
}

.background-BUTTON_TRANSPARENT {
  background-color: var(--button-transparent);
}

.background-SHADOW_background {
  background-color: var(--shadow-background);
}

.background-BUTTON_SECONDARY {
  background-color: var(--button-secondary);
}

.background-BUTTON_HOVER {
  background-color: var(--button-hover);
}

.background-BORDER {
  background-color: var(--border);
}

.background-BORDER_DARK {
  background-color: var(--border-dark);
}

.background-BORDER_GRAY {
  background-color: var(--border-gray);
}

.background-SUCCESS {
  background-color: var(--success);
}

.background-ERROR {
  background-color: var(--error);
}

.background-BODY_TEXT {
  background-color: var(--body-text);
}

.background-MAIN {
  background-color: var(--main);
}

.background-MAIN_DARK {
  background-color: var(--main-dark);
}

.background-MAIN_RED {
  background-color: var(--main-red);
}

.background-WHITE {
  background-color: var(--white);
}
