.color-BACKGROUND {
  color: var(--background);
}

.color-BUTTON {
  color: var(--shadow-color);
}

.color-BUTTON_TRANSPARENT {
  color: var(--button-transparent);
}

.color-SHADOW_COLOR {
  color: var(--shadow-color);
}

.color-BUTTON_SECONDARY {
  color: var(--button-secondary);
}

.color-BUTTON_HOVER {
  color: var(--button-hover);
}

.color-BORDER {
  color: var(--border);
}

.color-BORDER_DARK {
  color: var(--border-dark);
}

.color-BORDER_GRAY {
  color: var(--border-gray);
}

.color-SUCCESS {
  color: var(--success);
}

.color-ERROR {
  color: var(--error);
}

.color-BODY_TEXT {
  color: var(--body-text);
}

.color-MAIN {
  color: var(--main);
}

.color-MAIN_DARK {
  color: var(--main-dark);
}

.color-MAIN_RED {
  color: var(--main-red);
}

.color-WHITE {
  color: var(--white);
}
