@import "../Colors/backgroundColor.css";
@import "../helpers/space.css";

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.display-block {
  display: block;
}

.display-inlineBlock {
  display: inline-block;
}

.display-inline {
  display: inline;
}

.display-inlineFlex {
  display: inline-flex;
}

.justifyContent-flexEnd {
  justify-content: flex-end;
}

.justifyContent-center {
  justify-content: center;
}

.justifyContent-spaceBetween {
  justify-content: space-between;
}

.justifyContent-spaceAround {
  justify-content: space-around;
}

.justifyContent-spaceEvenly {
  justify-content: space-evenly;
}

.flexDirection-column {
  flex-direction: column;
}

.alignItems-flexStart {
  align-items: flex-start;
}

.alignItems-flexEnd {
  align-items: flex-end;
}

.alignItems-center {
  align-items: center;
}

.alignItems-baseline {
  align-items: baseline;
}

.alignItems-stretch {
  align-items: stretch;
}

.flexWrap-wrap {
  flex-wrap: wrap;
}

.flexWrap-nowrap {
  flex-wrap: nowrap;
}

.flexGrow-gr1 {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}
