@import "./theme.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
  font: 400 13px/20px "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
