@import "./theme.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Nunito";
  src: url("./Nunito-VariableFont.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--body-text);
  /* background-color: #0c314a; */
  background-image: url("./common/images/bkg.png");
}

* {
  box-sizing: border-box;
}
