:root {
  --background: #f9fbfc;
  --shadow-color: rgba(8, 31, 44, 0.12);
  --button-primary: #224dff;
  --button-secondary: #5a6169;
  --button-hover: #e76471;
  --border: #c8e1ff;
  --border-dark: rgba(18, 67, 138, 0.7);
  --border-gray: #e6e6e6;
  --body-text: #090f29;
  --main: #f7faff;
  --main-dark: rgba(133, 204, 255, 0.15);
  --main-red: #d8262f;
  --success: #45c42d;
  --error: #ff5267;
  --white: #fff;
}
