.root {
  display: inline-flex;
  position: relative;
  align-items: center;
}

.root > div {
  margin-left: 10px;
}

.root > input {
  width: 20px;
  height: 20px;
  appearance: none;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  outline: none;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  position: relative;
}

.root > input:checked {
  border: 1px solid var(--main-red);
  background-color: var(--main-red);
}

.root > input::before {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 7px;
  height: 12px;
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.root > input:checked::before {
  opacity: 1;
}

/*-- JurnalTV --*/
.styled-JurnalTV input:checked + div {
  box-shadow: 0px 0px 9px 1px var(--jurnaltv);
}

.styled-JurnalTV > input {
  border: none;
}

.styled-JurnalTV > input:checked {
  border: none;
  background: none;
}

.styled-JurnalTV > input::before {
  opacity: 1;
  border: solid var(--border-gray);
  border-width: 0 2px 2px 0;
}

.styled-JurnalTV > input:checked::before {
  border-color: var(--jurnaltv);
}

/*-- TV8 --*/
.styled-TV8 input:checked + div {
  box-shadow: 0px 0px 9px 1px var(--tv8);
}

.styled-TV8 > input {
  border: none;
}

.styled-TV8 > input:checked {
  border: none;
  background: none;
}

.styled-TV8 > input::before {
  opacity: 1;
  border: solid var(--border-gray);
  border-width: 0 2px 2px 0;
}

.styled-TV8 > input:checked::before {
  border-color: var(--tv8);
}

/*-- NTV --*/
.styled-NTV input:checked + div {
  box-shadow: 0px 0px 9px 1px var(--ntv);
}

.styled-NTV > input {
  border: none;
}

.styled-NTV > input:checked {
  border: none;
  background: none;
}

.styled-NTV > input::before {
  opacity: 1;
  border: solid var(--border-gray);
  border-width: 0 2px 2px 0;
}

.styled-NTV > input:checked::before {
  border-color: var(--ntv);
}

@media (min-width: 992px) {
  .styled-JurnalTV:hover > input::before {
    opacity: 1;
    border-color: var(--jurnaltv);
  }

  .styled-JurnalTV:hover div {
    box-shadow: 0px 0px 9px 1px var(--jurnaltv);
  }

  .styled-NTV:hover div {
    box-shadow: 0px 0px 9px 1px var(--ntv);
  }

  .styled-NTV:hover > input::before {
    opacity: 1;
    border-color: var(--ntv);
  }

  .styled-TV8:hover div {
    box-shadow: 0px 0px 9px 1px var(--tv8);
  }

  .styled-TV8:hover > input::before {
    opacity: 1;
    border-color: var(--tv8);
  }
}
