@import "../Colors/color.css";

.textAlign-center {
  text-align: center;
}

.fontSize-fs10 {
  font-size: 10px;
}

.fontSize-fs12 {
  font-size: 12px;
}

.fontSize-fs14 {
  font-size: 14px;
}

.fontSize-fs16 {
  font-size: 16px;
}

.fontSize-fs18 {
  font-size: 18px;
}

.fontSize-fs20 {
  font-size: 20px;
}

.fontSize-fs24 {
  font-size: 24px;
}

.fontSize-fs26 {
  font-size: 26px;
}

.fontWeight-fw200 {
  font-weight: 200;
}

.fontWeight-fw400 {
  font-weight: 400;
}

.fontWeight-fw700 {
  font-weight: 700;
}

@media (min-width: 992px) {
  .gradientHover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(
      to right,
      var(--body-text),
      var(--body-text) 50%,
      var(--text-gray) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
  }

  .gradientHover:hover {
    background-position: 0 100%;
  }
}
